[user]
	name = Omri Gabay
	email = omri.gabay@pnmac.com
[http]
	sslVerify = true
[pager]
	branch = false
[alias]
	fap = fetch --all --prune
	pr = pull --rebase
	rom = rebase origin/master
[credential]
	helper = cache
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
