[user]
	name = Omri Gabay
	email = omri.gabay@pnmac.com
[http]
	sslVerify = true
[core]
	editor = code --wait
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
